<% include partial/header %>
    <header>
        <div class="header_menu">
            <div class="logo">
                RP_Library
            </div>
            <div class="menu_list">
                 <ul>
                     <li><a href="/">Home</a></li>
                     <li><a href="/">Home</a></li>
                 </ul>
            </div>
        </div>
    </header>
<% include partial/footer %>


